<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.765529868221-pnc0moo66tpc0nt2i9o7oqd09vim3j3b</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>765529868221-pnc0moo66tpc0nt2i9o7oqd09vim3j3b.apps.googleusercontent.com</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.chexx.quickaction.vsCPU</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>vs. CPU</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypePlay</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.chexx.quickaction.passAndPlay</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Pass &amp; Play</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTime</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.chexx.quickaction.online</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Online</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCloud</string>
		</dict>
	</array>
</dict>
</plist>
